version: '3.3'
services:
    postgres:
        environment:
            - POSTGRES_USER=odoo_user
            - POSTGRES_PASSWORD=odoo_password
            - POSTGRES_DB=postgres
        networks:
            - ic_network
        restart: always    
        volumes:
            - 'pgdata:/var/lib/postgresql/data'
        container_name: postgres
        image: 'postgres:10'
        ports:
            - '5432:5432'
    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4
        networks:
            - ic_network
        restart: always
        environment:
            - PGADMIN_DEFAULT_EMAIL=gr.gharbi.rima@gmail.com
            - PGADMIN_DEFAULT_PASSWORD=odoo_rima
        ports:
            - "5050:80"
        volumes:
            - ${PWD}/servers.json:/pgadmin4/servers.json
            - 'pgadmin_data:/var/lib/pgadmin'
    ic-webapp:
        container_name: ic-webapp
        ports:
            - "8080:8080"
        environment:
            - ODOO_URL=http://localhost:8069/
            - PGADMIN_URL=http://localhost:5050/
        image: 'gharbirima/icwebapp:v1'
        networks:
            - ic_network
    odoo:
        depends_on:
            - postgres
        ports:
            - '8069:8069'
        container_name: odoo
        networks:
            - ic_network
        volumes:
            - '/data_docker/config:/etc/odoo'
            - '/data_docker/addons:/mnt/extra-addons'
            - 'odoo-web-data:/var/lib/odoo'
        environment:
            - USER=odoo_user
            - PASSWORD=odoo_password
            - HOST=postgres
        image: odoo:13.0
volumes:
    odoo-web-data:
    pgdata:
    pgadmin_data:
networks:
    ic_network:

